<!-- begin of popnup blog trackback block -->
<{* $Id: popnupblog_trackback.html,v 1.1.1.1 2005/08/28 02:13:10 yoshis Exp $ *}>
<form method="post" action="<{$url}>">
<table>
	<tr class="head">
		<td colspan="2">
			<h2><{$_MD_POPNUPBLOG_TRACKBACK_TITLE}></h2>
			<{$_MD_POPNUPBLOG_TRACKBACK_4MT}><br>
			<{$mt_tb_url}>
		</td>
	</tr>
	<tr class="odd"><td><{$_MD_POPNUPBLOG_TRACKBACK_URL}></td><td><input type="text" name="url" size="100"/></td></tr>
	<tr class="even"><td><{$_MD_POPNUPBLOG_TRACKBACK_BLOG_NAME}></td><td><input type="text" name="title" size="100" /></td></tr>
	<tr class="foot"><td colspan="2"><center><input type="submit" name="submit" value="submit"></td></tr>
</table>
	
<!-- end of popnup blog trackback block -->